@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<MembersOnly.Models.Post>

@{
    ViewData["Title"] = "Members Only Home Page";
}

<div class="text-center">
@foreach (var item in Model)
{
    <h1>
        @Html.DisplayFor(modelItem => item.Title)
    </h1>
    <p>
        @Html.DisplayFor(modelItem => item.TextContent)
    </p>

    @if (SignInManager.IsSignedIn(User))
    {
        <p>
            @Html.DisplayFor(modelItem => item.Author)
        </p>
    }
}
</div>
